:root {
    --margin: 1em;
    --padding: 1em;
    --font-color-light: rgba(255, 255, 255, 0.8);
    --font-color-light-hover: rgb(255, 255, 255);
    --font-color-dark: rgba(0, 0, 0, 0.8);
    --accent-font-color: rgb(39, 102, 99);
    --accent-font-color-light: rgba(39, 102, 99, 0.05);
    --box-shadow:.25em .25em .5em 0 rgb(34, 34, 34);
    --box-shadow-hover:.35em .35em 1em 0 rgb(34, 34, 34);
    --background-color: rgba(255, 255, 255, 0.95);
}

/* #region base */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
html {
    font-size: 18px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

body {
    line-height: 1.5em;
    position: relative;
    /* top: 7.5em; */
    font-family: Arial, Helvetica, sans-serif;
    /* min-height: 667px; */
    background-image: url('../images/zig-zag-wool.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}
/* @media screen and (min-width: 27em) {
    body {
        top: 6.5em;
    }
} */

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.accent-color {
    color: var(--accent-font-color);
}
/* #endregion */

/* #region nav and footer */
nav,
footer {
    width: 100%;
    color: var(--font-color-light);
    min-height: 4em;
    display: flex;
    align-items: center;
    border: none;
    background-color: black;
}

nav {
    z-index: 1;
    padding: var(--padding);
    position: fixed;
    top: 0px;
    flex-wrap: wrap;
    background-image: url('../images/zig-zag-wool.png');
    background-repeat: repeat;
}

/* Collapse nav bar on scroll down */
.nav-collapse {
    animation: collapse 1s ease forwards;
}
@keyframes collapse {
    from {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 0;
        top: -100%;
    }
}

/* Open nav bar on scroll up */
.nav-open {
    animation: open .5s ease forwards;
}
@keyframes open {
    from {
        opacity: 0;
        top: -100%;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

footer {
    bottom: 0px;
    justify-content: center;
    background-color: hsla(0, 0%, 25%, 0.5);
    font-size: .75em;
    flex-shrink: 0;
}

#logo {
    margin-left: var(--margin);
    margin-right: auto;
}

#nav-links {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

#navLinks a {
    margin: var(--margin);
    font-size: .85em;
    text-decoration: none;
    color: var(--font-color-light);
}

#navLinks a:hover {
    color: var(--font-light-hover);
}
/* #endregion */

/* #region main content layout */
.container {
    flex: 1 0 auto;
    width: 100%;
    padding: var(--padding);
    max-width: 75em;
    margin: auto;
    margin-top: calc(var(--margin)*5);
    margin-bottom: var(--margin);;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
@media (min-width: 48em) {
    .container {
        grid-template-columns: 2fr 1fr;
    }
}

.main-content,
.sidebar {
    background-color: var(--background-color);
    padding: var(--padding);
}

.sidebar {
    min-width: 10em;
}
@media (min-width: 48em) {
    .sidebar {
        max-width: 20em;
        max-height: 11em;
    }
}
.imgRow {
    display: flex;
    justify-content: space-evenly;
}

.imgIcon {
    width: 2.5em;
    height: 2.5em;
    box-shadow: var(--box-shadow);
}
.imgIcon:hover {
    box-shadow: var(--box-shadow-hover);
}
/* #endregion main content layout */

/* #region About */
.profileImage {
    width: 50%;
    float: left;
    margin: 0 var(--margin) var(--margin) 0;
    box-shadow: var(--box-shadow);
    border: .25em solid white;
}
/* #endregion About */

/* #region Contact */

input,
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    margin: 0 0 var(--margin) 0;
    width: 100%;
    padding: calc(var(--padding)/2);
    font-size: .75em;
    border-radius: .25em;
    /* border: 1px solid #DDDDDD; */
}

input:focus,
textarea:focus {
    border: .1em solid var(--accent-font-color);
    box-shadow: 0 0 .25em var(--accent-font-color);
}

.statusMessage {
    display: block;
    padding-left: var(--padding);
    font-size: .5em;
    color: var(--font-color-light);
    background-color: rgba(100, 0, 0, 0.25);
    border-radius: .25em;
}

#message {
    height: 15em;
  }

#contactSubmitInfo {
    font-size: .75em;
    color: #aaa;
}  
button {
    outline: none;
    background-color: var(--accent-font-color);
    color: var(--font-color-light);
    padding: var(--padding);
    width: 100%;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: .75em;
}

button:focus,
button:hover {
    box-shadow: var(--box-shadow-hover);
}
/* #endregion Contact */

/* #region  Portfolio*/
.portfolio-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    flex: 1 1 1em;
    border: #777777 solid 1px;
    box-shadow: var(--box-shadow);
    min-width: 13em;
    max-width: 15em;
    height: 20em;
    margin: var(--margin);
    background-color: var(--background-color);
    transition: 0.3s;
}
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    /* .card { flex: 2 auto; } */
  }

.card:hover {
    box-shadow:var(--box-shadow-hover);
}

.card a {
    color: var(--accent-font-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.card img {
    width: 100%;
    height: 66.6%;
}

.card-container {
    padding: calc(var(--padding)/2);
    margin: 0 0 0 0;
}

.card-container h4 {
    margin-top: calc(var(--margin)/2);
    margin-bottom: 0;
}

/* .card-container p {
    align-items: center;
} */
/* #endregion  */

/* #region archive */

/* #endregion */