<div class="sidebar">
  <div class="accent-color">
    <h2>Connect with Me</h2>
  </div>
  <hr>
  <div class="imgRow">
    <a href="https://github.com/ElliotReed">
      <img class="imgIcon" src="assets/images/github-128.png" alt="Github">
    </a>
    <a href="https://www.linkedin.com/in/elliot-reed-a5255b153/">
      <img class="imgIcon" src="assets/images/linkedin-128.png" alt="LinkedIn">
    </a>
    <a href="https://stackoverflow.com/users/9053286/elliot-reed">
      <img class="imgIcon" src="assets/images/stackoverflow-128.png" alt="StackOverflow">
    </a>
  </div>
</div>